@charset "utf-8";

:root {
    --main-bg-color: #F2E9D8;
    --main-btn-color: #D97652;
    --color-orange: #F29D52;
}

/* 유틸리티 */
.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

html, body {
    width: 100%;
}

body {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif'; 
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

body.overflow {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    border: none;
    border-radius: 40px;
    padding: 15px 0;
    text-align: center;
    background-color: var(--main-btn-color);
    color: #FFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.br-style {
    display: block;
}

#top {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1280px;
}

/* header 스타일 */
.main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-bg-color);
    width: 100%;
}

.main-header .header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 102px;
    width: 1280px;
}

.main-header .main-title a {
    display: block;
    width: 130px;
    height: 40px;
}

.main-header .main-title img {
    width: 100%;
    height: 100%;
}

.main-header .main-nav {
    display: flex;
    align-items: center;
}

.main-header .menu {
    display: flex;
}

.main-header .menu li {
    margin-right: 30px;
}

.main-header .menu li:last-child {
    margin-right: 40px;
}

.main-header .download-btn {
    width: 140px;
}

.main-header .menu-close-btn {
    display: none;
    width: 32px;
    height: 32px;
    background: url(../img/arrow-right.svg) no-repeat center center/ 32px 32px;
}

.main-header .menu-open-btn {
    display: none;
    width: 32px;
    height: 32px;
    background: url(../img/menu.svg) no-repeat center center/ 32px 32px;
}

/* banner 스타일 */
.banner {
    display: flex;
    justify-content: space-between;
    height: 798px;
    width: 1280px;
    background-color: var(--main-bg-color);
    overflow: hidden;
}

.banner .banner-info {
    margin: 200px 0 0 0;
}

.banner .banner-tit {
    width: 737px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.banner .banner-txt {
    padding: 40px 0;
    width: 440px;
}

.banner .banner-img {
    padding-top: 32px;
    width: 415px;
    height: 890px;
}

/* main-contents 스타일 */
.main-contents {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 80px;
}

/* best picture 스타일 */
.best-pic {
    display: flex;
}

.best-pic .img_wrap {
    width: 660px;
    height: 390px;
    border-radius: 30px;
    margin-right: 110px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.best-pic .img_wrap img {
    width: 100%;
    margin-top: -88px;
}

.best-pic-info {
    width: 510px;
    padding-top: 92px;
}

.best-pic-info .best-pic-tit {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    padding-bottom: 30px;
}

/* gallery 스타일 */
.gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 196px;
}

.gallery br {
    display: none;
}

.gallery .gallery-tit {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: var(--main-btn-color);
    padding-bottom: 40px;
}

.gallery-txt {
    text-align: center;
    width: 739px;
}

.gallery-txt strong {
    font-weight: 700;
    color: var(--main-btn-color);
}

.gallery .img-list {
    display: flex;
    margin: 88px 0 90px;
}

.gallery .img-list li {
    width: 378px;
    height: 378px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
    margin-right: 72px;
    overflow: hidden;
}

.gallery .img-list li:last-child {
    margin-right: 0;
}

.gallery .img-list img {
    width: 100%;
    height: 100%;
}

.gallery .learn-more {
    display: flex;
    justify-content: center;
}

.gallery .learn-more .learn-more-txt {
    margin-right: 52px;
}

.gallery .learn-more-btn {
    width: 147px;
}

/* subscribe 스타일 */
.subscribe {
    position: absolute;
    bottom: 246px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1164px;
    background-color: #263140;
    border-radius: 30px;
    padding: 50px 58px;
    z-index: 1;
}

.subscribe-info .subscribe-tit {
    color: #FFF;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 18px;
}

.subscribe-info .subscribe-txt {
    width: 491px;
    color: #F2E9D8;
    font-size: 14px;
    line-height: 18px;
}

.subscribe .email-form {
    position: relative;
    width: 316px;
    padding: 20px 146px 20px 68px;
    background-color: #FFF;
    border-radius: 60px;
}

.subscribe .email-form::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 28px;
    background: url(../img/mail.svg) center no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
}

.subscribe .email-input {
    border: none;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
}

.subscribe .email-input::placeholder {
    color: #767676;
    font-size: 16px;
    line-height: 20px;
}

.subscribe .submit-btn {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 136px;
    transform: translateY(-50%);
}

.main-contents::after {
    content: "";
    width: 100%;
    height: 340px;
    background: linear-gradient(0deg, rgba(242, 233, 216, 0.6), rgba(242, 233, 216, 0.6)), url(../img/img_5.jpg) no-repeat 0 35% / 100%;
}

/* footer */
.main-footer {
    position: relative;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 160px;
}

.main-footer .footer-menu {
    display: none;
}

.main-footer .footer-menu ul {
    text-align: end;
}

.main-footer .footer-menu li {
    margin-bottom: 18px;
}

.main-footer .footer-menu a {
    color: #767676;
}

.main-footer .footer-menu li:last-child {
    margin: 0;
}

.main-footer .footer-logo {
    width: 226px;
    height: 70px;
}

.main-footer .footer-logo img {
    width: 100%;
    height: 100%;
}

.main-footer .sns {
    position: absolute;
    display: flex;
    right: 0;
}

.main-footer .sns li {
    margin-left: 20px;
}

.main-footer .sns li:first-child {
    margin: 0;
}

.main-footer .sns a {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.main-footer .blog a {
    background: var(--color-orange) url(../img/blog.svg) no-repeat center center/ 24px 24px;
}

.main-footer .instagram a {
    background: var(--color-orange) url(../img/instagram.svg) no-repeat center center/ 24px 24px;
}

.main-footer .facebook a {
    background: var(--color-orange) url(../img/facebook.svg) no-repeat center center/ 24px 24px;
}

.main-footer .youtube a {
    background: var(--color-orange) url(../img/youtube.svg) no-repeat center center/ 24px 24px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    body {
        font-size: 14px;
        line-height: 18px;
    }

    button {
        padding: 11px 0;
        font-size: 14px;
        line-height: 18px;
    }

    #top {
        min-width: 390px;
    }

    /* header 스타일 */
    /* .main-header {
        min-width: 390px;
    } */
    .main-header .header-cont {
        max-width: 390px;
        height: 76px;
    }

    .main-header .main-title a {
        width: 93px;
        height: 28px;
    }

    .main-header .main-nav {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;
        background-color: #263140;
        z-index: 2;
        visibility: hidden;
        transition: all .3s;
        opacity: 0;
    }

    .main-header .main-nav.active {
        visibility: visible;
        width: 239px;
        height: 100vh;
        padding: 120px 0 0 40px;
        opacity: 1;
    }

    .main-header .main-nav > * {
        display: none;
    }

    .main-header .main-nav.active .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;
    }

    .main-header .menu li {
        margin: 0 0 30px 0;
    }

    .main-header .menu li:last-child {
        margin: 0 0 50px 0;
    }

    .main-header .menu a {
        color: #FFF;
    }

    .main-header .main-nav.active .download-btn {
        display: block;
        width: 119px;
    }

    .main-header .main-nav.active .menu-close-btn {
        display: block;
        position: absolute;
        top: 22px;
        left: 20px;
    }

    .main-header .menu-open-btn {
        display: block;
    }

    /* banner 스타일 */
    .banner {
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        width: 390px;
        height: 718px;
    }

    .banner .banner-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 0 0 0;
    }

    .banner .banner-tit {
        font-size: 24px;
        line-height: 30px;
        width: 264px;
    }

    .banner .banner-txt {
        padding: 30px 0;
        width: 280px;
    }

    .banner .banner-img {
        padding-top: 30px;
        width: 197px;
        height: 422px;
    }

    /* main-contents 스타일 */
    .main-contents {
        /* min-width: 390px; */
        padding-top: 40px;
    }

    /* best picture 스타일 */
    .best-pic {
        flex-direction: column;
    }

    .best-pic .img_wrap {
        width: 326px;
        height: 190px;
        border-radius: 18px;
        margin: 0;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    }

    .best-pic .img_wrap img {
        margin-top: -43px;
    }

    .best-pic-info {
        width: 326px;
        padding-top: 40px;
    }

    .best-pic-info .best-pic-tit {
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        padding-bottom: 20px;
    }

    /* gallery 스타일 */
    .gallery {
        position: relative;
        padding: 60px 0 330px;
    }

    .gallery .gallery-tit {
        width: 326px;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 30px;
    }

    .gallery-txt {
        text-align: center;
        width: 326px;
    }

    .gallery br {
        display: block;
    }

    .img-list-wrap {
        position: relative;
        width: 100vw;
        height: 360px;
        overflow-x: auto;
    }

    .gallery .img-list {
        position: absolute;
        margin: 0;
        padding: 40px 32px 60px 32px;
    }

    .gallery .img-list li {
        width: 260px;
        height: 260px;
        border-radius: 18px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
        margin-right: 20px;
    }

    .gallery .learn-more {
        width: 326px;
        justify-content: flex-start;
        flex-direction: column;
    }

    .gallery .learn-more .learn-more-txt {
        margin: 0;
        padding-bottom: 30px;
    }

    .gallery .learn-more-btn {
        width: 126px;
        margin: auto 0 0 auto;
    }

    /* subscribe 스타일 */
    .subscribe {
        bottom: 172px;
        flex-direction: column;
        justify-content: center;
        width: 262px;
        border-radius: 18px;
        padding: 36px 32px 30px;
    }

    .subscribe-info {
        margin-bottom: 30px;
    }

    .subscribe-info .subscribe-tit {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
        width: 194px;
    }

    .subscribe-info .subscribe-txt {
        width: 262px;
    }

    .subscribe .email-form {
        width: 189px;
        padding: 12px 16px 12px 48px;
        margin-bottom: 60px;
    }

    .subscribe .email-form::before {
        left: 16px;
        width: 18px;
        height: 18px;
    }

    .subscribe .email-input {
        font-size: 12px;
        line-height: 15px;
    }

    .subscribe .email-input::placeholder {
        font-size: 12px;
        line-height: 15px;
    }

    .subscribe .submit-btn {
        top: 60px;
        right: 0;
        width: 136px;
        transform: none;
    }

    .main-contents::after {
        height: 240px;
    }

    /* footer */
    .main-footer {
        align-items: flex-start;
        width: 350px;
        padding: 30px 0 24px;
    }
    /* .footer-wrap {
        align-items: flex-start;
        width: 350px;
        padding: 30px 0 24px;
    } */

    .main-footer .footer-logo {
        width: 112px;
        height: 34px;
        margin-bottom: 58px;
    }

    .main-footer .footer-logo img {
        width: 100%;
        height: 100%;
    }

    .main-footer .footer-menu {
        display: block;
    }

    .main-footer .sns {
        left: 0;
        bottom: 24px;
    }    

    .main-footer .sns li {
        margin-left: 20px;
    }

    .main-footer .sns a {
        width: 32px;
        height: 32px;
        background-size: 18px 18px;
    }
}